*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(photo_2026-09-30_11-53-37.jpg);
    background-position: center;
    background-size: cover;
    
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 300px;
    float: left;
    height: 70px;


}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: arial;
    padding-left: 15px;
    padding-top: 10px;
    float: left;
}
.menu{
    width: 800px;
    float: right ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style-type: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    font-family: arial;
    color: #fff;
    font-weight: bold;
    transition: 0.45s ease-in-out;
}ul li a:hover{
    color: #ff7200;
    cursor: pointer;

}
.cont{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;

}
.cont .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.3px;
    line-height: 30px;
    font-size: 15px;

}
.cont h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
}
.cont span{
    color: #ff7200;
}
.cont .learn{
    width: 100px;
    height: 40px;
    background-color: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.ico{
    display: none;
}
.cont .learn a{
    text-decoration: none;
    color: #000;
    transition: 0.4s ease-in-out;
}
.learn:hover{
    background-color: #fff;
}
@media screen and(max-width:750px) {
    .navbar .responsive{
        position: relative;

    }
    .navbar.responsive.ico{
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar .menu a{
        float: none;
        display: block;
        text-align: center;

    }
    .menu.responsive ul li a{
        display: block;
        width: 100%;
        text-align: left;
    }
    
}